* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    font-size: 20px;
    color:  white;
    background: gray;
    padding: 5;
}

.Container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    text-align: left;
    right: 10;
    
   
    
    


}


.Box1{
    display: inline-block;
    background-color: goldenrod;
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    margin: 10px;
   
    


}

.Box2{
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    width: 190px;
    border-radius: 50px;
    margin: 10px;
    
    
    


}

.Box3{
    display: inline-block;
    background-color: lightblue;
    padding: 10px;
    width: 150px;
    border-radius: 50px;

    


}






