 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
  }




.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    font-weight: bold;
    font-size: 30px;
    height: 15%;
    
  }
    


  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    height: 70%;
    border: 1px solid white;
    
    
    
    
    
  }
  
  .Full-Menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    
    width: 15%;
    height: 100%;
    font-size: 30px;
    border: 1px solid white;
   
   }

   .Menu-Block{
    background-color: white;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    margin: 2px;
    font-weight: normal;
    
   
 



   }


  .Dja-Full{
    text-align: center;
    width: 70%;
    height: 100%;
    font-weight: bold;
    font-size: 40px;
    border: 1px solid white;

  }


  .Gif{
    

      margin-left:auto;
      
      margin-right:auto;
      
      float :none;
      width: 300px;
      height: 300px;
    
  }






  .Advertisement-Block{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid white;
  
    

  }

  .Ad1{
    width: 40%;
    height: 40%;


  }

  .Ad2{
    width:  40%;
    height: 40%;

  }




  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  khaki;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    height: 15%;
    
   
    

  }




