<style>
  .Flex-container {
    display: flex;

    





  }
  
.box  {
  display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 30px;
    padding: 25px 0 0 0;


}






body {background: lightblue;}

</style>