* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.holygrail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: coral;
}

/* holygrail header section */

.holygrail-header {
  display: flex;
  justify-content: center;
  background-color: darkcyan;
  padding: 50px;
}

/* holygrail body section */

.holygrail-body {
  display: flex;
  flex: 1;
}

/* holygrail navigation section */

.holygrail-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  border: 1px solid white;
  flex: 0 0 12em;
}

.holygrail-navigation-menu-list {
  width: 100%;
}

.holygrail-navigation-menu-item {
  background-color: white;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
}

.holygrail-navigation-menu-item:hover {
  background-color: wheat;
}

/* holygrail content section */

.holygrail-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid white;
  flex: 1;
}

.holygrail-content-text {
  text-align: center;
}

.holygrail-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* holygrail ads section */

.holygrail-ads {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  border: 1px solid white;
  flex: 0 0 12em;
  padding: 10px;
}

.holygrail-ads-content-text {
  text-align: center;
}

.holygrail-ads-video-2 {
  margin-top: 10px;
}

/* holygrail footer section */

.holygrail-footer {
  display: flex;
  justify-content: center;
  background-color: khaki;
  padding: 40px;
}